.active {
  font-weight: 800;
}

.img-avatar-header {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.img-avatar-blog {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}




.text-warning:hover {
  text-decoration: underline;
}

.favoriteBtn {
  display: flex;
  align-items: center;
  color: white;
  background-color: #DC143C;
  border: none;
}

.favoriteBtn:hover {
  color: white !important;
}

.unFavoriteBtn {
  display: flex;
  align-items: center;
  color: #DC143C;
  background-color: inherit;
  border: 1px solid #DC143C;
}

.unFavoriteBtn:hover {
  color: #DC143C !important;
  border-color: #DC143C !important;
}

.followBtn {
  display: flex;
  align-items: center;
  color: white;
  background-color: green;
  border: none;
}

.followBtn:hover {
  color: white !important;
}

.unFollowBtn {
  display: flex;
  align-items: center;
  color: green;
  background-color: inherit;
  border: 1px solid green;
}

.unFollowBtn:hover {
  color: green !important;
  border-color: green !important;
}

.button-delete {
  border: 1px solid red;
  display: flex;
  align-items: center;
  color: red;
}

.button-delete:hover {
  border: none;
  display: flex;
  align-items: center;
  color: black !important;
  background-color: red;
}

.button-edit {
  border: 1px solid orange;
  display: flex;
  align-items: center;
  color: orange;
}

.button-edit:hover {
  border: none;
  display: flex;
  align-items: center;
  color: black !important;
  background-color: orange;
}

.comment-btn {
  border: none;
}



.comment-btn .anticon {
  margin-bottom: 10px;
}

.text-propover:hover {
  color: blue;
}

.wrapper-img {
  width: 100%;
  height: 450px;
}

.img-blog {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 8px;
  /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #b5b2b2;
  /* Color of the scroll thumb */
  border-radius: 4px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9c9c9c;
  /* Color on hover */
}

.ant-message.ant-message-top {
  z-index: 999999;
}


.form-acount {
  width: 600px;
}

.form-article {
  width: 700px;
}

.form-setting {
  width: 600px;
}

.img-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar {
  position: sticky;
  top: 72px;
  /* Khoảng cách từ đỉnh trang xuống */
  height: 88vh;
  /* Chiều cao phù hợp cho phần tử cha */
}


.tab {
  position: sticky;
  top: 72px;
  height: 88vh;

}

.comment-small {
  display: none;
}

.img-detail {
  height: 700px;
  object-fit: cover;
}

.img-undercover {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .form-article {
    width: 500px;

  }

  .form-acount {
    width: 500px;
  }


  .form-setting {
    width: 100%;
  }

  .follow-blog {
    display: none;
  }

  .comment-small {
    display: block;
  }

  .comment-lage {
    display: none;
  }

  .img-detail {
    height: 500px;
    object-fit: cover;
  }


}

@media (max-width: 767px) {
  .form-acount {
    width: 100%;
  }

  .form-setting {
    width: 100%;
  }

  .form-article {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .follow-blog {
    display: none;
  }

  .wrapper-img {

    height: 250px;
  }



  .btn-message {
    display: none;
  }

  .detail-article {
    display: flex;
    flex-direction: column-reverse;
  }

  .comment-small {
    display: block;
  }

  .comment-lage {
    display: none;
  }

  .img-detail {
    height: 400px;
    object-fit: cover;
  }

  .tab {
    display: none;
  }

  .img-profile {
    display: none;
  }
}